<h2>Total BTC Value: <span id="totalValue"></span></h2>
<br />
<h3>Poloniex</h3>
<p>Total BTC Value: <span id="polValue"></span></p>
<table id="polTable">
    <thead>
        <tr>
            <th>Pair</th>
            <th>Available</th>
            <th>On Orders</th>
            <th>BTC Value</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<br />
<h3>Bittrex</h3>
<p>Total BTC Value: <span id="bitValue"></span></p>
<table id="bitTable">
    <thead>
        <tr>
            <th>Pair</th>
            <th>Available</th>
            <th>On Orders</th>
            <th>BTC Value</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<br />
<h3>Kraken</h3>
<p>Total BTC Value: <span id="kraValue"></span></p>
<table id="kraTable">
    <thead>
        <tr>
            <th>Pair</th>
            <th>Balance<th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
